@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Light.eot');
    src: local('Montserrat Light'), local('Montserrat-Light'),
        url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Light.woff2') format('woff2'),
        url('../fonts/Montserrat-Light.woff') format('woff'),
        url('../fonts/Montserrat-Light.ttf') format('truetype'),
        url('../fonts/Montserrat-Light.svg#Montserrat-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.eot');
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
        url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff'),
        url('../fonts/Montserrat-Regular.ttf') format('truetype'),
        url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.eot');
    src: local('Montserrat Medium'), local('Montserrat-Medium'),
        url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/Montserrat-Medium.woff') format('woff'),
        url('../fonts/Montserrat-Medium.ttf') format('truetype'),
        url('../fonts/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.eot');
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
        url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('../fonts/Montserrat-SemiBold.woff') format('woff'),
        url('../fonts/Montserrat-SemiBold.ttf') format('truetype'),
        url('../fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Bold.eot');
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
        url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff'),
        url('../fonts/Montserrat-Bold.ttf') format('truetype'),
        url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /* to set sizes in rems; 10px = 1rem */
}

body {
  height: 100vh;
  /* height: 100%; */
  width: 100%;
}

.main {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.hero-section {
  width: 100%;
  background-image: url('./../images/hero_background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.header-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 70px;
  width: 100%;
  position: absolute;
  top:0;
}

.links-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  color: #fff;
}

.logo-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  text-transform: uppercase;
}

.logo-title a {
  text-decoration: none;
  color: inherit;
}

.logo-title a:hover {
  cursor: pointer;
}

.logo-subtitle {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: normal;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.menu-wrapper {
  height: 100%;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu {
  list-style: none;
}

.nav-item {
  display: inline-block;
}

.nav-link {
  color: inherit;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-right: 32px;
  text-decoration: none;
}

.nav-item:last-of-type .nav-link {
  margin-right: 0;
}

.nav-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.nav-link.active {
  text-decoration: underline;
}

/* Styles for modal */
.visible {
  display: block;
}

.nav-hamburger {
  display: none;
  margin: 0 2rem;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.nav-hamburger div {
  width: 35px;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 6px 0;
  display: block;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

/* Styles for modal content*/
.modal {
  display: none;
  position: fixed;
  z-index: 3;
  margin-top: 70px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  box-sizing: border-box;
}

.modal-content {
  background-color: #e5fff7;
  margin: auto;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-content ul li{
  display: block;
  padding-bottom: 26px;
  width: 80%;
  margin-left: 50px;
}

.modal-content ul li a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 42px;
  color: rgb(51, 51, 51);
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.modal-content ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-6px, 8px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-5px, -7px);
}

.menu-title {
  font-family: 'Quicksand', sans-serif;
  color:  #ffffff;
  font-size: 1.8rem;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}
/*end of styles for menu bar*/

/*styles for sub-hero section*/
.hero-wrapper {
  width: 100%;
  height: 60rem;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  width: 110rem;
  min-width: 30rem;
  flex-direction: column;
}

.hero-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 48px;
  color: #FFFFFF;
  margin-bottom: 40px;
}

.hero-title a {
  color: #fff;
  text-decoration: none;
}

.hero-title a:hover {
  text-decoration: underline;
}

.work-wrapper,
.toolkit-wrapper,
.faq-wrapper,
.notes-wrapper,
.about-wrapper {
  margin-top: 70px;
}
  /*footer section*/
.footer-section {
  height: 270px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5fff7;
  color: #333;
  flex-shrink: 0;
}

.container-footer {
  height: 100%;
}

.footer-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer-details {
  display: flex;
  flex-direction: column;
}

.footer-details h6 {
  margin-bottom: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 15px;
}

.footer-contact-info {
  font-family: 'Montserrat', sans-serif;
  color:  #333;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
}

.about-link {
  text-decoration: none;
  width: 139px;
  height: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat-Regular', 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  color: #FFFFFF;
  background-color: rgb(255, 132, 105);
}

.about-link:hover {
  background-color: rgba(255, 132, 105, 0.6);
}
/*end of styles for footer section*/

@media only screen and (max-width: 959px) {
  .header-wrapper {
    background: #e5fff7;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    align-items: center;
  }

  .logo-wrapper {
    color: #111;
     width: 100%;
     text-align: center;
  }

  .logo-subtitle,
  .menu-wrapper {
    display: none;
  }
  .nav-hamburger {
    display: inline-block;
  }

  .container {
    margin: 0 20px;
  }
  .footer-section {
    height: 290px;
  }

  .footer-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-details {
    align-items: center;
    margin-bottom: 20px;
  }

  .footer-details:last-of-type {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 767px) {}
